name: Terraform CI/CD

on:
  push:
    branches: [ "main" ]
    paths: [ "terraform/**" ]
  pull_request:
    paths: [ "terraform/**" ]
  workflow_run:
    workflows: ["Build & Push to ECR"]
    types: [completed]

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-central-1
  TF_IN_AUTOMATION: true
  TF_INPUT: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  plan:
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_TO_ASSUME }}
          role-session-name: gha-${{ github.run_id }}
          audience: sts.amazonaws.com
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      #
     

      - name: Commit formatted code
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(terraform): auto fmt"
          branch: ${{ github.ref_name }}

      - name: Terraform Init
        run: |
          terraform init -reconfigure \
            -backend-config="bucket=${{ vars.TF_BACKEND_BUCKET }}" \
            -backend-config="key=${{ vars.TF_BACKEND_KEY }}" \
            -backend-config="region=${{ env.AWS_REGION }}" \
            -backend-config="dynamodb_table=${{ vars.TF_BACKEND_DDB }}"

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan (capture)
        id: plan
        continue-on-error: true         
        run: |
          set -o pipefail
          terraform plan -no-color -out=plan.out 2>&1 | tee plan.log

      - name: Upload plan log
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: tf-plan-log
          path: terraform/plan.log